body{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color : #ffe3f1;
    color: #1d2835;
    padding: 20px;
}
h1{
    margin-top: 20px;
   font-size: 50px;
}
h4{
    margin-bottom: 40px;
    font-size: 20px;
}
h2{
    font-size: 40px;
    margin-top: 10px;
}
#start{
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: #f54ca6;
}
#start:hover{
    background-color:#df559f ;
   
}
#mood button{
    padding: 10px 18px;
    margin: 6px;
    font-size: small;
    font-weight: bold;
    border-radius: 20px;
    color: white;
}
#mood{
    display: none;
}
#happy {
    background-color: #e6f918; 
}
#happy:hover{
    background-color:#c8cf41;
}
#calm {
    background-color: #4ea8de;
}
#calm:hover{
    background-color: #3496d2;
}
#energetic {
    background-color: #06d6a0; 
}
#energetic:hover{
    background-color:#36ad8d ;
}
#stressed {
    background-color: #e63946; 
}
#stressed:hover{
    background-color: #cd3f4b;
}
#curious {
    background-color: #7209b7; 
}
#curious:hover{
    background-color: #670fa2;
}
#bored {
    background-color: #9e7b66; 
}
#bored:hover{
    background-color: #856451;
}
.info{
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 50px;
    align-items: center;
}
.text{
    flex: 1;
}
.info img{
    object-fit: cover;
    width: 250px;
    border-radius: 10px;
    flex-shrink: 0;
}
h3{font-size: 30px;}
